
.back 
{
    background-color:lightblue;
    width:875;
    height:485;
    margin:40 auto;
}
.border
{
    background-color:gray;
    width:18;
    height:427;
    position:absolute;
    right:331; 
    top:113;
    z-index:1;
}
    
.wallleft
{
    background-color:gray;
    width:18.75;
    height:80;
    position:absolute;
    top:99;
    right:590;
    
}

.walltop
{
    background-color:gray;
    width:862;
    height:18;
    position:absolute;
    top:96;
    right:331;
}

.wallbottom
{
    background-color:gray;
    width:771.25;
    height:18.75;
    position:absolute;
    top:270;
    right:331
}


.me 
{
   
    border-radius:50%;
    width:30px;
    height:30px;
    position:absolute;
    top:230;
    right:506;
    z-index:2;
}

.key 
{
    width:28;
    height:28;
    position:absolute;
    top:115;
    right:387; 
}
 

.gate 
{
    background-color:red;
    width:9;
    height:91;
    position:absolute;
    top:179;
    right:594;
}



.top 
{
    background-color:gray;
    width:600;
    height:19;
    position:absolute;
    top:160;
    right:590;
}

.trap 
{
    width:92;
    height:92;
    position:absolute;
    top:178;
    right:690; 
} 


.gameOverTitle  
{
    position:fixed;
    width:37%;
    height:30%;
    background-color:#DADFE1;
    margin:16% 32%;
    border-radius:20px;
    border:solid 2px black;
    font-family:Century;
    text-align:center;
    padding:10px;
    font-size:60px;

    
    
}

/*לא שינית מידות אחוזים אצל "המשחק נגמר" כי   רציתי להשאיר את זה לבסוף*/
.gameOver 
{
    position:fixed;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:3;
    display:none;
    top:0;
    left:0;
}

.btn 
{
    color:White;
    background-color:#6C7A89;
    cursor:pointer; 
    font-family:Corbel;
    padding:10px;
     border:none;
    border-radius:3px;  
    border-bottom:solid 0.5px black;
    border-right:solid 0.5px black;
    margin-top:15px;
    font-size:25px;
}

.btn:hover 
{
    border:none;
    margin-left:0.5px;
    margin-top:0.5px;
}


.finishBtn 
{
    
  font-family:Guttman hatzvi; 
  position:absolute;
  right:230;
  top:257;
  height:40px;
  color:White;
  background-color:#6C7A89;
  cursor:pointer; 
  font-size:25px;
  border:none;
  border-radius:3px;  
  border-bottom:solid 0.5px black;
  border-right:solid 0.5px black;
    
    
}


.green 
{
    background-color:#87D37C;
    position:absolute;
    right:331;
    top:105;
    width:271;
    height:178;
}
    
.green1 
{
    background-color:#87D37C;
    position:absolute;
    right:345;
    top:177;
    width:855;
    height:348;
}

.block 
{
    top:450; 
    right:490;
    position:absolute; 
    z-index:1;
    width:84; 
    height:28;
}

.text 
{  
    position:absolute;
    right:390;
    top:180; 
    z-index:1;
    direction:rtl;
    text-align:center;
    font-size:20.5;
    font-family:David;
} 


.score 
{
    position:absolute;
    top:40;
    right:331;
    background-color:gray;
    direction:rtl;
    display:inline-block;
    padding:10px;
    border:solid 3px yellow;
    width:70px;
    height:30px;
    font-size:20px;
    font-family:Caladea;

}

.heartScore
{
    position:absolute;
    top:40;
    right:1080;
    background-color:gray;
    direction:rtl;
    display:inline-block;
    padding:10px;
    border:solid 3px yellow;
    width:100px;
    height:30px;
    font-size:20px;
    font-family:Caladea;

}

.coin 
{
     width:23;
     height:23;
     position:absolute;
     right:565;
     top:400;
     z-index:1;
     
}

.bor 
{
    right:684;
    top:113; 
    position:absolute;
    width:10;
    height:50;
    background-color:gray;
    
}

.lilgreen 
{
    right:685;
    top:113; 
    position:absolute;
    width:60;
    height:70;
    background-color:#87D37C;
}


#quizTitle  
{
    position:fixed;
    width:689;
    height:300;
    background-color:#DADFE1;
    margin:12% 26%;
    border-radius:20px;
    border:solid 2px black;
    font-family:Guttman hatzvi;
    text-align:center;
    font-size:20px;

    
    
}

.quiz
{
    position:fixed;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:3;
    display:none;
    top:0;
    left:0;
}



.e 
{
    background-color:#616e7b;
    width:35;
    height:35;
    position:absolute;
    right:1151;
    top:221;
    border-radius:8px;
    z-index:3;
}



   
   .answer
{
    background :#F39C12;
    color:White;
    display:inline-block; 
    font-size:24px;
    border:none;
    text-shadow:0.5px 0.5px 1px #333333;
    padding:5px;
    margin:6px 3px; 
    text-align:center;
    border-radius:6px;
    font-family:guttman hatzvi;
    width:170px;
    border:solid 1.5px #F9690E;
    
}

.answer:hover
{
    cursor:pointer;
    background-color:#cf850f;
   
} 


.replay  
{
    position:fixed;
    width:200;
    height:170;
    background-color:#DADFE1;
    margin:17% 43%;
    border-radius:20px;
    border:solid 2px black;
    font-family:Guttman hatzvi;
    text-align:center;
    font-size:24px;
    display:none;
    padding-top:20px;
    
      
}

tr 
{
    text-align:center;
}

.submit
{
    background :linear-gradient(180deg, #00e640,#00a234);
    color:White;
    height:30px;   
    font-size:20px;
    font-family:Guttman Hatzvi;
    border:none;
    text-shadow:0.5px 0.5px 1px #333333;
    border-radius:6px;
    margin-top:-15px;
    
}
.submit:hover
{
   
    box-shadow:1px 1px 1px #333333;
    cursor:pointer;
}

.collecter 
{
    width:21;
    height:21; 

}

#lazerTitle 
{
    position:fixed;
    width:390;
    height:420;
    background-color:#DADFE1;
    margin:12% 35%;
    border-radius:20px;
    border:solid 2px black;
    font-family:Guttman hatzvi;
    text-align:center;
    font-size:20px;
}

.gage 
{
    position:absolute;
    left:70;
    top:100;
    background:radial-gradient(circle, #ec644b, #f22613, #cf000f);
    width:230;
    height:33;
    border:solid 2.4px black;
    
}

.mark 
{
    position:absolute;    
    top:100;
    width:2;
    height:36;
    background-color:black;
}    
  
  
 .spot   
 {
    position:absolute;
    left:149;
    top:102.4;
    background:radial-gradient(circle, #87d37c, #26a65b, #1e824c);
    height:33;
 }
 
 .closeX
 {
    position:absolute;
    top:4; 
    left:10; 
    font-size:35px; 
    cursor:pointer;    
 }
 

.closeX:hover
{
    color:red;
}

.circles 
{
    position:absolute;
    left:320;
    top:102;
    width:30px;
    height:30px;
}

.lockBorder 
{
    background-color:#ec644b;
    width:75px;
    height:75px;
    border-radius:50%;
    position:absolute;
    top:305;
    left:150;
}

#textLock 
{
    position:absolute;
    top:13;
    left:16;
    font-size:20px;
}

#hacker 
{
    position:absolute;
    top:160;
    left:540;
    font-size:20px;
    color:#2ecc71;
    font-family:Guttman hatzvi;
}

.hackNumbers 
{
    opacity:0.1;
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    border-radius:20px;
}

.canonball 
{
    position:absolute;
    top:350;
    right:500;
    width:25px;
    height:25px;
    z-index:1;
}

.burn 
{
    position:absolute; 
    width:177px;
    height:77px;
    display:none;
}

.way
{
    position:absolute;
    width:60px;
    height:140px;
    background-color:Red;
    top:350;
    right:860;
    display:none;
}

.finish 
{
   width:40px;
   height:60px;
   position:absolute;
   top:390;
   right:355;

 
}

#redZone 
{
   width:128px;
   height:200px;
  background:radial-gradient(circle, #ec644b, #f22613, #cf000f);
   position:absolute;
   top:320;
   right:345; 
   border-radius:15%;

}


.show 
{
   
   width:265px;
   height:30px; 
   direction:rtl; 
   position:absolute;
   left:160;
   top:90;
   background-color:#DADFE1;
   
}

#final 
{
 border-radius:15px;
 border:solid 2px black;
 height:110px;
 width:350px;
 background:linear-gradient(180deg, #5c97bf,#2574a9); 
}

#finalLife 
{
  border-radius:15px;
 border:solid 2px black;
 position:relative;
 top:15px;
 right:85;
 height:50px;
 width:120px;
 background:linear-gradient(180deg, #ff9478,#f64747);   
}